.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 0.25px;
  }
  
  .button{
    text-decoration: none;
    background-color: white;
    border-width: 0pt;
    width: 50px;
    height: 50px;
  }
  
  .button:nth-child(1){
    color: #1D7820;
  }
  .button:nth-child(2){
    color: #CD0000;
  
  }
  
  button.button:hover:nth-child(2){
    color: white;
    background-color: #CD0000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-width: 0pt;
  }
  
  button.button:hover:nth-child(1){
    color: white;
    background-color: #1D7820;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-width: 0pt;
  }
  .card-container{
    height: 30%;
    width: fit-content;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .color{
    color:rgb(85, 20, 190)
  }
  img{
    vertical-align: middle;
    width: 10em;
    height: 10em;
    border-radius: 50%;

  }
  .info{
    margin-left: 0.5em;
  }
  .text{
    font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #0E3010;
}