$main-color:black;

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;

    &-error {
      display: none;
    }
  }
}

.img-loading-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}
.add-review-modal {
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  width: min-content;
  height: min-content;
  margin: 10% auto;
  top: 0;
  left: 0;
  overflow: auto;
  background: whitesmoke;
  border-radius: 15px;
  border: 5px solid rgb(128, 0, 75);
}
.add-review-bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.cancel
 {
   display: flex;
   justify-content: end;
 }
.img
{
  display: flex;
  flex-direction: row;
}
.ratingAndCancel
{
  display: flex;
  flex-direction: row;
}
