  $background-color: #f4f6f9;
  $font-family: Roboto, "Helvetica Neue", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto auto auto;
  gap: 10px;
  grid-template-areas:
        "nav nav"
        "content left-side"
        "section section";
  background-color: $background-color;
}

.container div {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.nav {
  grid-area: nav;
  justify-items: center;
  display: inline-flex;
  gap: 30px;
  font-family: $font-family;
}
.nav {
  a{
    color: black;
  }
}
.content {
  grid-area: content;
  column-count: 3;
  column-gap: 10px;
  padding: 20px;
}
.content div{
  box-shadow: none;
}
.img-container {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 0 10px 0;
  break-inside: avoid;
}
img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.left-side {
  grid-area: left-side;
  display: grid;
}

div.left-side {
  box-shadow: none;
}

.img-avatar {
  max-width: 150px;
  max-height: 140px;
  border-radius: 50%;
  margin: 15px;
  object-fit: cover;
}

.left-side-content {
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 15px;
}

div{
  p {
  font-family: $font-family;
  margin: 5px;
  padding: 0 30px;
  }
}

ul{
  li{
    list-style-type: none;
    display: inline-flex;
    margin: 0 10px;
  }
}
.section{
  grid-area: section;
  justify-items: center;
  padding: 15px;
   margin: 0;
  font-family: $font-family;
  font-size: 15px;
  display: inline;
}
.item {
  margin: 10px 0;
}

@media(max-width: 1024px) {
  .content {
    column-count: 3;
  }
}

@media(max-width: 768px) {
  .content {
    column-count: 2;
  }
}

@media(max-width: 320px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "left-side"
        "content"
        "section";
  }
  .content {
    column-count: 1;
  }
}
