<div class="main">
  <nav-admin ></nav-admin>
  <div class="content">
    <div class="info">
      <p class="title">Search</p>
      <h6>Find {{addresses.length}}</h6>
      <div class="buttons-container">
        <button class="button"><mat-icon>add</mat-icon></button>
      </div>
    </div>
    <search-address  (getAddress)="FilterAddress($event,0,10)"></search-address>

    <div *ngIf="!addresses?.length" class="loader-container">
      <div id="loading"></div>
    </div>

    <div class="addresses"class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
      <div class="content" *ngFor="let item of addresses">
          <address-card [item]="item"></address-card>
      </div>

    </div>
  </div>

</div>
