<div class="card-wrapper block container"  (click)="goTo()" >
  
  <div class="image">
    <div class="type">cafe</div>
  </div>

  <div class="info">
    <div class="info-text">
      <div class="title">{{trip.title}}</div>
      <div class="head">Description: 
      <br>
      {{trip.description}}
      <br>
      optimal
      {{trip.optimalSpent}} 
      <div></div>
      </div>

      <div class="rating">
        <p class="head">
          ratingValue  
        </p>
        <ngb-rating [rate]="trip.averageRating"></ngb-rating>
      </div>
    </div>
    <div class="option">
      <div class="buttons-container">
        <button class="button"><mat-icon>edit</mat-icon></button>
        <button class="button" (click) = "openDeleteModal()"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  
</div>

