
<div class="bg">
    <div class="close-area" (click)=" onNoClick()"></div>
    <ol class="dialog">
      <li>
        <mat-form-field appearance="fill">
          <mat-label>Enter email</mat-label>
          <input type="text" matInput [(ngModel)]="user.email">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="fill">
          <mat-label>Enter name</mat-label>
          <input type="text" matInput [(ngModel)]="user.name">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input matInput type="text" [(ngModel)]="user.userName">
          </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="fill">
          <mat-label>avatarSrc</mat-label>
          <input matInput type="text" [(ngModel)]="user.avatarSrc">
        </mat-form-field>
       
        <mat-dialog-actions>
          <button class="btn btn-primary" (click)="submit()">Update</button>
        </mat-dialog-actions>
      </li>
    </ol>
  </div>
  
    